@media (min-width: 1280px) and (max-width: 1366px) {
}

@media only screen and (max-width: 400px) and (min-width: 330px) {
  .card-message-member-side > div span:nth-child(1) {
    max-width: 120px;
    font-size: 15px !important;
  }

  .card-message-member-side > div span:nth-child(2) {
    max-width: 120px;
    font-size: 13px !important;
  }

  .card-message-member-side p {
    font-size: 13px !important;
  }

  .parent-card-player {
    max-width: 100%;
  }

  .inti-match {
    margin-top: 270px;
    max-width: 32%;
    font-size: 1.2em;
  }

  .player-1,
  .player-2,
  .player-3,
  .player-4,
  .player-5,
  .player-6,
  .player-7,
  .player-8,
  .player-9,
  .player-10 {
    /* max-width: 8%; */
    width: 20%;
    height: 11%;
    /* padding: 2.8rem; */
  }

  .player-1 {
    bottom: 0;
  }
  .player-2 {
    bottom: 70px;
    left: 30px;
  }
  .player-3 {
    bottom: 140px;
    left: 45px;
  }
  .player-4 {
    bottom: 210px;
    left: 70px;
  }
  .player-5 {
    bottom: 258px;
    left: 140px;
  }
  .player-6 {
    bottom: 170px;
    right: 140px;
  }
  .player-7 {
    bottom: 210px;
    right: 70px;
  }
  .player-8 {
    bottom: 140px;
    right: 45px;
  }
  .player-9 {
    bottom: 70px;
    right: 30px;
  }
  .player-10 {
    bottom: 0;
    right: 15px;
  }
}

@media only screen and (max-width: 431px) and (min-width: 401px) {
  .card-message-member-side > div span:nth-child(1) {
    max-width: 170px;
    font-size: 14px !important;
  }

  .card-message-member-side > div span:nth-child(2) {
    max-width: 170px;
    font-size: 12px !important;
  }

  .card-message-member-side p {
    font-size: 13px !important;
  }

  .parent-card-player {
    max-width: 100%;
  }

  .inti-match {
    margin-top: 270px;
    max-width: 30%;
    font-size: 1.2em;
  }

  .player-1,
  .player-2,
  .player-3,
  .player-4,
  .player-5,
  .player-6,
  .player-7,
  .player-8,
  .player-9,
  .player-10 {
    /* max-width: 8%; */
    width: 17%;
    height: 12%;
    /* padding: 2.8rem; */
  }

  .player-1 {
    bottom: 0;
  }
  .player-2 {
    bottom: 70px;
    left: 35px;
  }
  .player-3 {
    bottom: 140px;
    left: 50px;
  }
  .player-4 {
    bottom: 210px;
    left: 75px;
  }
  .player-5 {
    bottom: 258px;
    left: 160px;
  }
  .player-6 {
    bottom: 170px;
    right: 160px;
  }
  .player-7 {
    bottom: 210px;
    right: 75px;
  }
  .player-8 {
    bottom: 140px;
    right: 50px;
  }
  .player-9 {
    bottom: 70px;
    right: 35px;
  }
  .player-10 {
    bottom: 0;
    right: 15px;
  }
}

@media only screen and (max-width: 460px) and (min-width: 432px) {
  .card-message-member-side > div span:nth-child(1) {
    max-width: 200px;
    font-size: 15px !important;
  }

  .card-message-member-side > div span:nth-child(2) {
    max-width: 200px;
    font-size: 13px !important;
  }
  .card-message-member-side p {
    font-size: 14px !important;
  }

  .parent-card-player {
    max-width: 100%;
  }

  .inti-match {
    margin-top: 270px;
    max-width: 30%;
    font-size: 1.7em;
  }

  .player-1,
  .player-2,
  .player-3,
  .player-4,
  .player-5,
  .player-6,
  .player-7,
  .player-8,
  .player-9,
  .player-10 {
    /* max-width: 8%; */
    width: 17%;
    height: 11%;
    /* padding: 2.8rem; */
  }

  .player-1 {
    bottom: 0;
  }
  .player-2 {
    bottom: 70px;
    left: 35px;
  }
  .player-3 {
    bottom: 140px;
    left: 50px;
  }
  .player-4 {
    bottom: 210px;
    left: 75px;
  }
  .player-5 {
    bottom: 258px;
    left: 175px;
  }
  .player-6 {
    bottom: 180px;
    right: 170px;
  }
  .player-7 {
    bottom: 210px;
    right: 75px;
  }
  .player-8 {
    bottom: 140px;
    right: 50px;
  }
  .player-9 {
    bottom: 70px;
    right: 35px;
  }
  .player-10 {
    bottom: 0;
    right: 15px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 462px) {
  .card-message-member-side > div span:nth-child(1) {
    max-width: 220px;
    font-size: 16px !important;
  }

  .card-message-member-side > div span:nth-child(2) {
    max-width: 220px;
    font-size: 14px !important;
  }

  .card-message-member-side p {
    font-size: 15px !important;
  }

  .parent-card-player {
    max-width: 100%;
  }

  .inti-match {
    margin-top: 270px;
    max-width: 30%;
    font-size: 1.7em;
  }

  .player-1,
  .player-2,
  .player-3,
  .player-4,
  .player-5,
  .player-6,
  .player-7,
  .player-8,
  .player-9,
  .player-10 {
    /* max-width: 8%; */
    width: 16%;
    height: 12%;
    /* padding: 2.8rem; */
  }

  .player-1 {
    bottom: 0;
  }
  .player-2 {
    bottom: 70px;
    left: 35px;
  }
  .player-3 {
    bottom: 140px;
    left: 50px;
  }
  .player-4 {
    bottom: 210px;
    left: 75px;
  }
  .player-5 {
    bottom: 258px;
    left: 150px;
  }
  .player-6 {
    bottom: 258px;
    right: 150px;
  }
  .player-7 {
    bottom: 210px;
    right: 75px;
  }
  .player-8 {
    bottom: 140px;
    right: 50px;
  }
  .player-9 {
    bottom: 70px;
    right: 35px;
  }
  .player-10 {
    bottom: 0;
    right: 15px;
  }
}

@media only screen and (max-width: 550px) and (min-width: 503px) {
  .card-message-member-side > div span:nth-child(1) {
    max-width: 250px;
    font-size: 17px !important;
  }

  .card-message-member-side > div span:nth-child(2) {
    max-width: 250px;
    font-size: 15px !important;
  }

  .card-message-member-side p {
    font-size: 16px !important;
  }

  .parent-card-player {
    max-width: 100%;
  }

  .inti-match {
    margin-top: 270px;
    max-width: 33%;
    font-size: 2em;
  }

  .player-1,
  .player-2,
  .player-3,
  .player-4,
  .player-5,
  .player-6,
  .player-7,
  .player-8,
  .player-9,
  .player-10 {
    /* max-width: 8%; */
    width: 13%;
    height: 11%;
    /* padding: 2.8rem; */
  }

  .player-1 {
    bottom: 0;
  }
  .player-2 {
    bottom: 70px;
    left: 50px;
  }
  .player-3 {
    bottom: 140px;
    left: 80px;
  }
  .player-4 {
    bottom: 210px;
    left: 120px;
  }
  .player-5 {
    bottom: 258px;
    left: 180px;
  }
  .player-6 {
    bottom: 258px;
    right: 180px;
  }
  .player-7 {
    bottom: 210px;
    right: 120px;
  }
  .player-8 {
    bottom: 140px;
    right: 80px;
  }
  .player-9 {
    bottom: 70px;
    right: 50px;
  }
  .player-10 {
    bottom: 0;
    right: 15px;
  }
}
